        .box-example {
            width: 200px;
            height: 100px;
            background-color: #add8e6;
            color: #333;
            text-align: center;
            line-height: 100px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            margin-bottom: 20px;
            padding: 20px;
            border: 5px solid darkblue;
            margin: 30px;
        }

        .box-parent {
            background-color: #00a6ff;
            padding: 10px;

        }

        .static-box {
            width: 150px;
            height: 70px;
            background-color: lightcoral;
            border: 1px solid red;
            margin: 10px;
            position: static;
            top: 20px;
            left: 30px;
        }

        .relative-box {
            width: 150px;
            height: 70px;
            background-color: lightgreen;
            border: 1px solid darkgreen;
            margin: 10px;
            position: relative;

            top: 20px;
            left: 30px;
        }

        .another-box {
            width: 150px;
            height: 70px;
            background-color: lightblue;
            border: 1px solid blue;
            margin: 10px;
        }

        .parent-box {
            width: 300px;
            height: 200px;
            background-color: #e0e0e0;
            border: 2px dashed gray;
            margin: 40px auto;
            position: relative;
        }

        .absolute-child {
            width: 80px;
            height: 80px;
            background-color: #d0ff00;
            border: 1px solid rgb(255, 68, 0);
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .normal-sibling {
            width: 100px;
            height: 50px;
            background-color: #ff99ff;
            margin-top: 10px;
        }

        body {
            height: 1500px;
            /* Membuat halaman bisa di-scroll */
            margin: 0;
            /* Hilangkan margin default body */
            padding-top: 60px;
            /* Agar konten tidak tertutup fixed header */
            font-family: sans-serif;
        }

        .fixed-header {
            width: 100%;
            height: 50px;
            background-color: #4a4a4a;
            /* Dark Gray */
            color: white;
            text-align: center;
            line-height: 50px;
            position: fixed;
            /* Kunci di sini! */
            top: 0;
            /* Menempel di bagian atas viewport */
            left: 0;
            /* Menempel di bagian kiri viewport */
            z-index: 1000;
            /* Pastikan di atas elemen lain */
        }

        .scroll-content {
            padding: 20px;
            background-color: #f0f0f0;
        }