.container1 {
    display: flex;
    justify-content: flex-start;
    border: 2px solid red;
}

.container2 {
    display: flex;
    justify-content: flex-end;
    border: 2px solid rgb(253, 105, 7);
}

.container3 {
    display: flex;
    justify-content: center;
    border: 2px solid rgb(212, 255, 0);
}

.container4 {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(0, 255, 34);
}

.container5 {
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(0, 42, 255);
}

.container6 {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid rgb(118, 0, 142);
}

.container7 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 2px solid rgb(118, 0, 142);
    height: 100px;
}

.container8 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid rgb(118, 0, 142);
    height: 100px;
}

.container9 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 2px solid rgb(118, 0, 142);
    height: 100px;
}

.container10 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid rgb(118, 0, 142);
    height: 300px;
}

.container11 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
     flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    border: 2px solid rgb(118, 0, 142);
    height: 300px;
}
.item {
    padding: 3px 5px;
    background-color: lightskyblue;
}
 .container7 .item7 {
    padding: 80px 5px 2px 0px;
    background-color: aquamarine;
 }