
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(0, 255, 0);
        }
        h1 {
            color: rgb(0, 12, 115);
            text-align: center;
        }
        .deskripsi {
            font-size: 25px;
        }

        
 